.Header {
    background-color: #0c0c0d;
}

.my-name {
    font-family: Garamond, serif;
    font-size: 3rem;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 0 10px;
}